<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Reset Password</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column ">
<div th:insert="~{layout :: header}"></div>
<div class="main">
    <div class="container col-md-6 col-sm-12">
        <form th:action="@{/reset_password}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Enter new password"/>

                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           class="form-control"
                           required=""
                           placeholder="Confirm you password"
                           oninput="checkPasswordMatch(this)"/>

                </div>
                <input class="btn btn-secondary text-center" type="submit" value="Change Password"/>
                <a th:href="@{/login}" type="submit" class="btn btn-black">Already have an account?</a>
            </div>
        </form>
        <script type="text/javascript">
            function checkPasswordMatch(fieldConfirmPassword) {
                var password = document.getElementById("password").value;
                if (fieldConfirmPassword.value !== password) {
                    fieldConfirmPassword.setCustomValidity("Passwords do not match!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
    </div>
</div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>
